<a href="https://colab.research.google.com/github/TravisJRCain/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/Travis_Cain_LS_DS14_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [7]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [8]:
df.shape

(421, 59)

In [9]:
df.dtypes

Burrito            object
Date               object
Yelp              float64
Google            float64
Chips              object
Cost              float64
Hunger            float64
Mass (g)          float64
Density (g/mL)    float64
Length            float64
Circum            float64
Volume            float64
Tortilla          float64
Temp              float64
Meat              float64
Fillings          float64
Meat:filling      float64
Uniformity        float64
Salsa             float64
Synergy           float64
Wrap              float64
Unreliable         object
NonSD              object
Beef               object
Pico               object
Guac               object
Cheese             object
Fries              object
Sour cream         object
Pork               object
Chicken            object
Shrimp             object
Fish               object
Rice               object
Beans              object
Lettuce            object
Tomato             object
Bell peper         object
Carrots            object
Cabbage            object
Sauce              object
Salsa.1            object
Cilantro           object
Onion              object
Taquito            object
Pineapple          object
Ham                object
Chile relleno      object
Nopales            object
Lobster            object
Queso             float64
Egg                object
Mushroom           object
Bacon              object
Sushi              object
Avocado            object
Corn               object
Zucchini           object
Great                bool
dtype: object

In [0]:
df['Date'] = pd.to_datetime(df['Date'])

In [11]:
df.dtypes

Burrito                   object
Date              datetime64[ns]
Yelp                     float64
Google                   float64
Chips                     object
Cost                     float64
Hunger                   float64
Mass (g)                 float64
Density (g/mL)           float64
Length                   float64
Circum                   float64
Volume                   float64
Tortilla                 float64
Temp                     float64
Meat                     float64
Fillings                 float64
Meat:filling             float64
Uniformity               float64
Salsa                    float64
Synergy                  float64
Wrap                     float64
Unreliable                object
NonSD                     object
Beef                      object
Pico                      object
Guac                      object
Cheese                    object
Fries                     object
Sour cream                object
Pork                      object
Chicken                   object
Shrimp                    object
Fish                      object
Rice                      object
Beans                     object
Lettuce                   object
Tomato                    object
Bell peper                object
Carrots                   object
Cabbage                   object
Sauce                     object
Salsa.1                   object
Cilantro                  object
Onion                     object
Taquito                   object
Pineapple                 object
Ham                       object
Chile relleno             object
Nopales                   object
Lobster                   object
Queso                    float64
Egg                       object
Mushroom                  object
Bacon                     object
Sushi                     object
Avocado                   object
Corn                      object
Zucchini                  object
Great                       bool
dtype: object

In [0]:
# 2016 & earlier. Validate on 2017. Test on 2018 & later.

train = df[df['Date'].dt.year <= 2016]

val = df[df['Date'].dt.year == 2017]

test = df[df['Date'].dt.year >= 2018]

In [13]:
train.shape, val.shape, test.shape

((298, 59), (85, 59), (38, 59))

In [14]:
target = 'Great'
y_train = train[target]

y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [0]:
majority_class = y_train.mode()[0]

In [16]:
from sklearn.metrics import accuracy_score
y_pred = [majority_class] * len(y_train)

accuracy_score(y_train, y_pred)

0.5906040268456376

In [17]:
y_val = val[target]
y_pred = [majority_class] * len(y_val)
accuracy_score(y_val, y_pred)

0.5529411764705883

In [18]:
# Logistic Regression
# Sort non-numeric columns by unique

train.describe(exclude='number').T.sort_values(by='unique')

              count unique                  top freq      first       last
Chile relleno     4      1                    x    4        NaT        NaT
Ham               1      1                    x    1        NaT        NaT
Zucchini          1      1                    x    1        NaT        NaT
Nopales           4      1                    x    4        NaT        NaT
Lobster           1      1                    x    1        NaT        NaT
Egg               4      1                    x    4        NaT        NaT
Carrots           1      1                    x    1        NaT        NaT
Bacon             3      1                    x    3        NaT        NaT
Sushi             2      1                    x    2        NaT        NaT
Unreliable       27      1                    x   27        NaT        NaT
Avocado          13      1                    x   13        NaT        NaT
Mushroom          3      1                    x    3        NaT        NaT
Corn              2      2                    X    1        NaT        NaT
Pineapple         7      2                    x    5        NaT        NaT
Taquito           4      2                    x    3        NaT        NaT
Onion            17      2                    x    9        NaT        NaT
Cilantro         15      2                    x    9        NaT        NaT
Salsa.1           6      2                    x    5        NaT        NaT
Sauce            37      2                    x   33        NaT        NaT
Cabbage           7      2                    x    5        NaT        NaT
Bell peper        7      2                    x    4        NaT        NaT
Great           298      2                False  176        NaT        NaT
Lettuce          11      2                    x    9        NaT        NaT
Chips            22      2                    x   19        NaT        NaT
NonSD             5      2                    x    3        NaT        NaT
Beef            168      2                    x  130        NaT        NaT
Pico            143      2                    x  115        NaT        NaT
Guac            139      2                    x  101        NaT        NaT
Cheese          149      2                    x  121        NaT        NaT
Tomato            7      2                    x    5        NaT        NaT
Fries           119      2                    x   97        NaT        NaT
Pork             43      2                    x   29        NaT        NaT
Chicken          20      2                    x   19        NaT        NaT
Shrimp           20      2                    x   17        NaT        NaT
Fish              5      2                    x    3        NaT        NaT
Rice             33      2                    x   24        NaT        NaT
Beans            32      2                    x   24        NaT        NaT
Sour cream       85      2                    x   63        NaT        NaT
Burrito         298      5           California  118        NaT        NaT
Date            298    110  2016-08-30 00:00:00   29 2011-05-16 2016-12-15

In [19]:
# Check burrito column
train['Burrito'].value_counts()

California     118
Other          110
Asada           35
Surf & Turf     21
Carnitas        14
Name: Burrito, dtype: int64

In [0]:
# Drop categorical columns w/ high cardinality

target = 'Great'
high_cardinality = ['Date']
features = train.columns.drop([target] + high_cardinality)

In [0]:
# Create new X train/val/test and y train/val/test w/ new data

X_train = train[features]
X_test = test[features]

y_train = train[target]
y_test = test[target]

X_val = val[features]
y_val = val[target]

In [23]:
# One-hot coding
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)
X_test_encoded = encoder.transform(X_test)

X_train_encoded.head()

   Burrito_California  Burrito_Carnitas  ...  Zucchini_nan  Zucchini_x
0                   1                 0  ...             1           0
1                   1                 0  ...             1           0
2                   0                 1  ...             1           0
3                   0                 0  ...             1           0
4                   1                 0  ...             1           0

[5 rows x 123 columns]

In [0]:
# Impute missing values
from sklearn.impute import SimpleImputer

imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train_encoded)

X_val_imputed = imputer.transform(X_val_encoded)

X_test_imputed = imputer.transform(X_test_encoded)

In [0]:
# Scaling
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train_imputed)

X_val_scaled = scaler.transform(X_val_imputed)

X_test_scaled = scaler.transform(X_test_imputed)

In [26]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train_scaled, y_train)
model.fit(X_val_scaled, y_val)
model.fit(X_test_scaled, y_test)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:
print('Validation Accuracy', model.score(X_train_scaled, y_train))
print('Validation Accuracy', model.score(X_val_scaled, y_val))

Validation Accuracy 0.7785234899328859
Validation Accuracy 0.6941176470588235

In [28]:
print('Test Accuracy', model.score(X_test_scaled, y_test))

Test Accuracy 1.0